.left {
	float: left
}

.right {
	float: right
}

.clear {
	float: none;
	clear: both;
	font-size: 0px;
	line-height: 0px;
	height: 0px;
	min-height: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden
}

body {
	font-family: "微软雅黑";
	font-size: 14px
}

body a,
body img {
	outline: none;
	blr: expression(this.onFocus=this.blur())
}

body a:focus {
	outline: none
}

@media screen and (max-width: 640px) {
	.p_hide {
		display: none
	}
}

@media screen and (max-width: 1000px) {
	.i_hide {
		display: none
	}
}

body,
html {
	margin: 0px;
	padding: 0px
}

.dt_main {
	width: 100%;
	height: 100%;
	min-height: 500px
}

.dt_top {
	width: 100%;
	min-height: 60px;
	position: relative;
	z-index: 2;
	background: #1f262d
}

.dt_top .arrow {
	position: absolute;
	width: 100px;
	height: 5px;
	background: red;
	bottom: -5px;
	left: 55%;
	cursor: pointer
}

.dt_container {
	background: #1f262d;
	width: 100%;
	min-height: 50px;
	overflow: hidden
}

.dt_container .dt_left {
	background: #1f262d;
	padding-top: 80px;
	color: #fff
}

.dt_container .dt_center {
	-webkit-border-top-left-radius: 15px;
	-moz-border-top-left-radius: 15px;
	border-top-left-radius: 15px
}

.dt_left {
	width: 258px;
	min-height: 500px;
	position: fixed;
	left: 0px;
	top: 0px;
	background: greenyellow;
	height: 100%
}

.dt_left .arrow {
	position: absolute;
	width: 10px;
	height: 79px;
	background: red;
	cursor: pointer;
	right: -8px;
	top: 45%;
	background: url("../layout/img/close.png") no-repeat
}

.dt_left .open {
	background: url("../layout/img/open.png") no-repeat
}

.dt_center {
	margin-left: 258px;
	min-height: 500px;
	overflow: auto;
	background: #fff
}

.topMenu {
	background: #1f262d;
	line-height: 40px
}

.topMenu>nav {
	height: 100%
}

.topMenu>nav ul {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 0px
}

.topMenu>nav ul li {
	height: 100%;
	list-style-type: none;
	display: inline-block;
	vertical-align: middle
}

.topMenu>nav ul li a {
	height: 100%;
	color: #fff;
	display: block;
	padding: 2px 10px;
	font-size: 14px
}

.topMenu>nav ul li a:hover {
	background: #0d90cf;
	text-decoration: none
}

.topMenu>nav ul li a img {
	margin-right: 3px
}

.topMenu>nav ul .checked {
	background: #0d90cf;
	text-decoration: none
}

.left_second_Menu {
	width: 100%;
	overflow: hidden;
	background: #2e363f
}

.left_second_Menu ul {
	margin: 0px;
	padding: 0px
}

.left_second_Menu ul li {
	list-style-type: none;
	border-bottom: 1px solid #262e36;
	border-top: 1px solid #38404a;
	line-height: 40px;
	position: relative;
	overflow: hidden
}

.left_second_Menu ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #9098a0;
	text-decoration: none;
	padding-left: 25px;
	cursor: pointer
}

.left_second_Menu ul li a img {
	float: right;
	margin-top: 15px;
	margin-right: 10px
}

.left_second_Menu ul li a:before {
	display: inline-block;
	height: 8px;
	width: 5px;
	content: "";
	margin-right: 10px;
	background: url("../menu/img/menu_2/menu_icon.png") no-repeat
}

.left_second_Menu ul li a:hover {
	color: #0d90cf;
	background: #12181d
}

.left_second_Menu ul li a:hover:before {
	background: url("../menu/img/menu_2/menu_ck_icon.png") no-repeat
}

.left_second_Menu ul li>ul {
	overflow: hidden;
	background: #222931;
	display: none
}

.left_second_Menu ul li>ul li {
	border: 0px
}

.left_second_Menu ul li>ul li a:before {
	background: url() no-repeat
}

.left_second_Menu ul li>ul li a:hover:before {
	background: url() no-repeat
}

.left_second_Menu ul .blueLine {
	background: #222931
}

.left_second_Menu ul .blueLine:before,
.left_second_Menu ul>li:hover:before {
	position: absolute;
	width: 5px;
	height: 100%;
	content: "";
	left: 0px;
	top: 0px;
	background: #0d90cf
}

.left_second_Menu ul .checked>a {
	color: #0d90cf;
	background: #12181d
}

body,
html {
	height: 100%
}

.menu .dropdown-menu {
	border-radius: 3px
}

.menu .dropdown-header {
	color: #a1a2a3
}

.menu .wrapper {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow-x: hidden
}

.menu .wrapper>.aside {
	position: absolute;
	width: 220px;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 116;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #fff
}

.menu .wrapper>.aside .aside-inner {
	padding-top: 110px;
	height: 100%;
	width: 220px;
	overflow: hidden
}

.menu .wrapper>section {
	position: relative;
	height: 100%;
	margin-left: 0;
	z-index: 111;
	background-color: #f5f7fa;
	margin-bottom: 60px !important
}

.menu .modal-open .wrapper {
	z-index: 0
}

@media only screen and (min-width: 768px) {
	.menu body {
		min-height: 100%
	}
	.menu .wrapper>.aside .aside-inner {
		padding-top: 55px
	}
	.menu .wrapper>section {
		margin-left: 220px
	}
}

.menu .sidebar {
	height: 100%;
	padding-bottom: 20px;
	background-color: #fff;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

.menu .sidebar:after {
	content: "";
	background: rgba(0, 0, 0, 0.15);
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	-webkit-transform: translateZ(0)
}

.menu .sidebar .nav-heading {
	padding: 12px 15px;
	color: #919da8;
	font-size: 13px;
	letter-spacing: .035em;
	cursor: default
}

@media only screen and (min-width: 1025px) {
	.menu .sidebar {
		margin-right: -17px;
		overflow-y: scroll
	}
}

.menu .sidebar {
	background-color: #313a4f
}

.menu .nav-second {
	font-size: 14px;
	margin-top: 3px;
	color: #b1b1b1
}

.menu .nav-second:hover {
	color: #5d9cec
}

.menu .nav-second-row {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	color: #b1b1b1
}

.menu .nav-second-row:hover {
	color: #5d9cec
}

.menu .handing-name {
	margin-top: 3px;
	font-size: 14px
}

.menu .handing-name:hover {
	color: #5d9cec
}

.menu .nav-item .row,
.menu .nav-content .row {
	font-size: 20px;
	color: #fff
}

.menu .sidebar .nav-heading {
	height: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	color: #ffffff;
	cursor: pointer
}

.menu .nav-acitive {
	background-color: #222837;
	color: #21a0e8
}

.menu .pull-btn {
	padding-left: 0px;
	margin-top: -1px
}

.menu .upIcon {
	margin-top: -8px
}

.menu .transDownIcon {
	transform-origin: center center;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transition: .2s
}

.menu .transUpIcon {
	transform-origin: center center;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transition: .2s
}

.menu .nav-content {
	cursor: pointer;
	border-left: 5px solid transparent;
	font-size: 20px
}

.tabControl .tabBtn {
	padding: 0px;
	margin: 0px;
	font-size: 0px;
	padding-left: 1px
}

.tabControl .tabBtn li {
	list-style-type: none;
	height: 30px;
	line-height: 30px;
	min-width: 80px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	background: #EFF2F9;
	padding: 0px 15px;
	font-family: "微软雅黑";
	font-size: 14px;
	border: 1px #DDDDDD solid;
	margin-left: -1px
}

.tabControl .tabBtn li>a {
	color: #000;
	text-decoration: none
}

.tabControl .tabBtn li:hover {
	background: #fff;
	border-bottom: 0px
}

.tabControl .tabBtn li .warning_circle_icon:before,
.tabControl .tabBtn li .error_circle_icon:before,
.tabControl .tabBtn li .info_circle_icon:before,
.tabControl .tabBtn li .success_circle_icon:before {
	display: inline-block;
	margin-right: 5px;
	height: 100%;
	content: ""
}

.tabControl .tabBtn li .warning_circle_icon:before {
	content: url("../tab/img/circle1_icon.jpg")
}

.tabControl .tabBtn li .error_circle_icon:before {
	content: url("../tab/img/circle2_icon.jpg")
}

.tabControl .tabBtn li .info_circle_icon:before {
	content: url("../tab/img/circle3_icon.jpg")
}

.tabControl .tabBtn li .success_circle_icon:before {
	content: url("../tab/img/circle1_icon.jpg")
}

.tabControl .tabBtn .checked {
	background: #fff;
	border-bottom: 0px
}

.tabControl .tabCont {
	width: 100%;
	min-height: 100px;
	border: 1px solid #ddd;
	margin-top: -1px
}

.tabControl .tabCont>section {
	display: none
}

.btn_default {
	padding: 0px 25px;
	line-height: 35px;
	background: #484f63;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#484f63), to(#333745));
	background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#333745));
	background: -ms-linear-gradient(left top, left bottom, from(#484f63), to(#333745));
	background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#333745));
	background: linear-gradient(left top, left bottom, from(#484f63), to(#333745));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}

.btn_default:hover {
	background: #3d4354;
	color: #f2f2f2
}

.btn_default:active {
	background: #282c37;
	color: #ebebeb;
	outline: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#484f63), to(#3d4354));
	background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
	background: -ms-linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
	background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
	background: linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
	-webkit-transform: translate(-1px, 1px);
	-moz-transform: translate(-1px, 1px);
	-ms-transform: translate(-1px, 1px);
	transform: translate(-1px, 1px)
}

.btn_default:disabled {
	background: #C0C0C4;
	color: #EFEFEF
}

.btn_error {
	padding: 0px 25px;
	line-height: 35px;
	background: #f3856c;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#f3856c), to(#ef5e3d));
	background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
	background: -ms-linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
	background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
	background: linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.btn_error:hover {
	background: #f17154;
	color: #f2f2f2
}

.btn_error:active {
	background: #ed4a25;
	color: #ebebeb;
	outline: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3856c), to(#f17154));
	background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
	background: -ms-linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
	background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
	background: linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
	-webkit-transform: translate(-1px, 1px);
	-moz-transform: translate(-1px, 1px);
	-ms-transform: translate(-1px, 1px);
	transform: translate(-1px, 1px)
}

.btn_error:disabled {
	background: #C0C0C4;
	color: #EFEFEF
}

.btn_success {
	padding: 0px 25px;
	line-height: 35px;
	background: #00703e;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#00703e), to(#003d22));
	background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
	background: -ms-linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
	background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
	background: linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.btn_success:hover {
	background: #005730;
	color: #f2f2f2
}

.btn_success:active {
	background: #002414;
	color: #ebebeb;
	outline: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#00703e), to(#005730));
	background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#005730));
	background: -ms-linear-gradient(left top, left bottom, from(#00703e), to(#005730));
	background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#005730));
	background: linear-gradient(left top, left bottom, from(#00703e), to(#005730));
	-webkit-transform: translate(-1px, 1px);
	-moz-transform: translate(-1px, 1px);
	-ms-transform: translate(-1px, 1px);
	transform: translate(-1px, 1px)
}

.btn_success:disabled {
	background: #C0C0C4;
	color: #EFEFEF
}

.btn_warning {
	padding: 0px 25px;
	line-height: 35px;
	background: #e9e335;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#e9e335), to(#d4ce17));
	background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
	background: -ms-linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
	background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
	background: linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.btn_warning:hover {
	background: #e6e01e;
	color: #f2f2f2
}

.btn_warning:active {
	background: #bdb715;
	color: #ebebeb;
	outline: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#e9e335), to(#e6e01e));
	background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
	background: -ms-linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
	background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
	background: linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
	-webkit-transform: translate(-1px, 1px);
	-moz-transform: translate(-1px, 1px);
	-ms-transform: translate(-1px, 1px);
	transform: translate(-1px, 1px)
}

.btn_warning:disabled {
	background: #C0C0C4;
	color: #EFEFEF
}

.btn_info {
	padding: 0px 25px;
	line-height: 35px;
	background: #21a0e8;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#21a0e8), to(#1483c2));
	background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
	background: -ms-linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
	background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
	background: linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.btn_info:hover {
	background: #1693d9;
	color: #f2f2f2
}

.btn_info:active {
	background: #1273ab;
	color: #ebebeb;
	outline: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#21a0e8), to(#1693d9));
	background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
	background: -ms-linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
	background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
	background: linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
	-webkit-transform: translate(-1px, 1px);
	-moz-transform: translate(-1px, 1px);
	-ms-transform: translate(-1px, 1px);
	transform: translate(-1px, 1px)
}

.btn_info:disabled {
	background: #C0C0C4;
	color: #EFEFEF
}

.dialog_header {
	background: #fff !important
}

.modal-con {
	border: 6px solid;
	border-color: rgba(127, 127, 127, 0.3);
	width: 405px;
	margin-left: auto;
	margin-right: auto
}

.dia_block {
	min-width: 600px
}

.dia_block .dia_header {
	height: 45px;
	line-height: 45px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #2E363F
}

.dia_block .dia_header span {
	color: #fff;
	cursor: pointer
}

.dia_block .dia_header .dh_cont {
	float: left;
	margin-left: 20px;
	color: #000;
	font-weight: 1000
}

.dia_block .dia_header .dh_close {
	float: right;
	margin-right: 20px
}

.dia_block .dia_body {
	min-height: 100px;
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px
}

.btn {
	border-radius: 3px;
	border-color: transparent;
	-webkit-appearance: none;
	outline: 0;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all 0.1s
}

@media only screen and (min-width: 768px) {
	body {
		min-height: 100%
	}
}

.enterprise_table tbody tr td,
.enterprise_table thead tr th {
	text-align: center
}

.enterprise_table thead tr {
	border: 1px solid #ddd
}

.enterprise_table thead tr th {
	border: 0px;
	color: #888;
	text-align: center
}

.table>thead tr {
	border-top: 1px solid #dddddd;
	background-color: #f3f4f5
}

.table>thead>tr>th {
	color: #888;
	vertical-align: middle
}

.table_jiao>thead>tr>th {
	color: #000;
	text-align: left;
	vertical-align: middle
}

.table_sx {
	padding: 3px 8px !important
}

.table_jiao>tbody>tr:hover {
	background-color: #effaff
}

.table-hover>tbody>tr:hover {
	background-color: #effaff
}

.enterprise_table>tbody>tr>td {
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ececec
}

.font21 {
	color: #21A0E8;
	border: 0px;
	background: transparent
}

.fontf {
	color: #fff;
	background: #21A0E8;
	border: 0px;
	padding: 2px 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}

.mar-r {
	margin-right: 10px
}

select {
	min-width: 160px
}

.fontc {
	color: #f00
}

.padd-l {
	padding-left: 10px
}

.table-responsive {
	margin-top: 15px
}

.mar-t {
	margin-top: 5px
}

.mar-t1 {
	margin-top: -10px
}

.t-00f {
	color: #0d90cf
}

.t-f00 {
	color: #0d90cf;
	display: inline-block;
	min-width: 50px
}

.t-f00 {
	vertical-align: bottom
}

.enterprise_sx .enterprise_s {
	display: inline-block;
	margin-top: -10px;
	cursor: pointer
}

.enterprise_x {
	display: inline-block;
	margin-top: 5px;
	margin-left: -12px;
	cursor: pointer
}

.underline {
	text-decoration: underline;
	cursor: pointer
}

.n_underline a {
	text-decoration: none
}

.download img {
	vertical-align: top;
	margin-top: 3px
}

.download1 img {
	vertical-align: top;
	margin-top: 4px
}

.form #code {
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
	border: 0;
	letter-spacing: 4px;
	color: blue;
	font-size: 21px;
	background: #fff
}

.form .btn {
	border-radius: 3px;
	font-size: 13px;
	border-color: transparent;
	-webkit-appearance: none;
	outline: 0 !important;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all 0.1s
}

.form .form-control {
	box-shadow: 0 0 0 #000 !important;
	border: 1px solid #d3d3d3
}

.form .table>tbody+tbody,
.form .table>thead>tr>th {
	border-bottom-width: 1px
}

.form .wrapper {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow-x: hidden
}

.form .wrapper {
	z-index: 0
}

@media only screen and (min-width: 768px) {
	.form body {
		min-height: 100%
	}
}

.form .panel .table {
	margin-bottom: 0;
	border: 0
}

.form .panel-flat {
	margin: 0 !important;
	border: 0
}

.form .panel-default .panel-heading>a[data-tool] {
	color: #c1c2c3
}

.form .panel-heading>.label.pull-right {
	margin-top: 3px
}

.form .panel-heading>.label.pull-right+.label.pull-right {
	margin-right: 10px
}

.form .panel-footer p {
	margin-bottom: 0
}

.form .dropdown-menu-header {
	padding: 10px 15px;
	background-color: #fafafa;
	border-bottom: 1px solid #e1e1e1
}

.form .parsley-error {
	border-color: #f05050 !important
}

.form .parsley-errors-list {
	display: none;
	margin: 0;
	padding: 0
}

.form .parsley-errors-list.filled {
	display: block
}

.form .parsley-errors-list>li {
	font-size: 12px;
	list-style: none;
	color: #f05050
}

.form .table>thead>tr>th {
	padding: 14px 8px;
	color: #888
}

.form .table>tbody>tr>td {
	vertical-align: middle
}

.form .mb-xl {
	margin-bottom: 30px !important
}

.form .block-center {
	margin: 0 auto
}

.form .wd-xl {
	width: 320px
}

textarea {
	resize: none
}

.xinzen {
	background: #f6f6f6
}

.form_padd-l {
	padding-left: 10px;
	padding-right: 10px
}

.form_padd-l1 {
	padding-left: 30px
}

.form_shu {
	position: absolute;
	height: 35px;
	width: 1px;
	background-color: #ddd;
	left: 50px;
	top: 0px
}

.form_mar-b {
	margin-bottom: 20px
}

#dp4 {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	height: 27px;
	width: 100%;
	z-index: 10
}

#dp5 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 27px;
	opacity: 0;
	z-index: 10
}

.trad_zhi {
	padding-top: 9px
}

.research_icon {
	background: #fff;
	padding: 6px 0px 6px 10px
}

.research_input {
	border-left: 0px;
	outline: none;
	padding-left: 5px
}

.la {
	padding-right: 5px
}

.search .form-group {
	margin: 15px auto;
	margin-right: 15px
}

.form_date {
	padding: 5px 10px;
	background: #fff
}

#startDate,
#endDate {
	background: #fff
}

.btn_cha {
	padding: 5px 30px;
	background-color: #66c7ff;
	color: #fff;
	border: 0px
}

.searchBlc>div {
	float: left;
	height: 30px
}

.searchBlc .quan_search {
	border-radius: 0
}

.searchBlc .quan_btn {
	width: 40px !important;
	height: 30px;
	background: #efc2ac;
	border: 0
}

.searchBlc .time {
	padding-top: 4px
}

.searchBlc>div:first-child>input {
	font-size: 12px;
	padding-left: 35px !important
}

.searchBlc>div:first-child>img {
	position: absolute;
	top: 7px;
	left: 10px
}

.searchBlc>div:first-child+div+div div {
	float: left;
	width: 150px
}

.searchBlc>div:first-child+div+div div:first-child input {
	background: #FFFFFF
}

.searchBlc>div:first-child+div+div div:first-child+div {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center
}

.searchBlc>div:first-child+div+div div:first-child+div+div input {
	background: #FFFFFF
}

.searchBlc>div:first-child+div+div div:first-child+div+div img {
	font-size: 18px;
	position: absolute;
	right: 7px;
	top: 5px;
	z-index: 10
}

.editer_Blc {
	padding: 30px 0
}

.editer_Blc .attionColor {
	color: red
}

.editer_Blc .g1 {
	position: absolute;
	top: -999px;
	left: -999px
}

.editer_Blc .center {
	height: 35px
}

.editer_Blc .conts,
.editer_Blc .btns {
	float: left;
	height: 30px;
	vertical-align: middle
}

.editer_Blc .conts input {
	width: 270px
}

.editer_Blc .btns label {
	background: #ccc;
	border: 1px solid #CCCCCC;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 78px;
	vertical-align: middle;
	border-radius: 5px;
	margin-left: 10px
}

.Two_select .selectc {
	border: 1px solid gainsboro;
	width: 30%;
	min-width: 100px;
	vertical-align: middle
}

.Two_select .selectc:active {
	outline: none
}

.Two_select .role_arrow {
	vertical-align: middle;
	position: relative
}

.Two_select .role_arrow img {
	width: 10%
}

.Two_select .role_arrow span {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 45%;
	cursor: pointer;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0)
}

.Two_select .left_arrow {
	left: 0px;
	top: 0px
}

.Two_select .right_arrow {
	right: 0px;
	top: 0px
}

.switch {
	text-align: center
}

.prev {
	margin-left: 5px
}

.date_img img {
	position: absolute;
	top: 3px;
	right: 8px
}

.fi_add .form-group {
	margin: 10px 10px 15px 0px
}

.fi_add .form-group .input-group {
	background: #FFFFFF;
	border-radius: 5px
}

.fi_add .form-group .input-group input {
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
	position: relative;
	z-index: 10;
	opacity: 0.3;
	border: 2px solid #CCCCCC;
	border-radius: 5px;
	cursor: pointer
}

.fi_add .form-group .input-group span {
	position: absolute;
	right: 5px;
	top: 3px;
	z-index: 1
}

.fi_add .form-group .filter {
	height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px
}

.fi_add .fg_add {
	position: relative
}

.fi_add .fg_add input {
	padding-left: 30px
}

.fi_add .fg_add img {
	position: absolute;
	top: 7px;
	left: 5px
}

.fi_add .form-group:first-child input {
	height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px
}

.fi_add .form-group:last-child {
	margin-right: 0px
}

@media (max-width: 768px) {
	.fi_add .form-group:last-child {
		margin-right: 20px
	}
}

.glyphicon-arrow-left::before {
	content: "<"
}

.glyphicon-arrow-right::before {
	content: ">"
}

.bnsCreat_blueBtn {
	width: 93px;
	height: 27px;
	line-height: 27px;
	background: #21A0E8;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#21A0E8), to(#1483c2));
	background: -moz-linear-gradient(left top, left bottom, from(#21A0E8), to(#1483c2));
	background: -ms-linear-gradient(left top, left bottom, from(#21A0E8), to(#1483c2));
	background: -moz-linear-gradient(left top, left bottom, from(#21A0E8), to(#1483c2));
	background: linear-gradient(left top, left bottom, from(#21A0E8), to(#1483c2));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}

.bnsCreat_blueBtn:hover {
	background: #1693d9;
	color: #f2f2f2
}

.bnsCreat_blueBtn:active {
	background: #1273ab;
	color: #ebebeb;
	outline: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#21A0E8), to(#1693d9));
	background: -moz-linear-gradient(left top, left bottom, from(#21A0E8), to(#1693d9));
	background: -ms-linear-gradient(left top, left bottom, from(#21A0E8), to(#1693d9));
	background: -moz-linear-gradient(left top, left bottom, from(#21A0E8), to(#1693d9));
	background: linear-gradient(left top, left bottom, from(#21A0E8), to(#1693d9));
	-webkit-transform: translate(-1px, 1px);
	-moz-transform: translate(-1px, 1px);
	-ms-transform: translate(-1px, 1px);
	transform: translate(-1px, 1px)
}

.bnsCreat_blueBtn:disabled {
	background: #C0C0C4;
	color: #EFEFEF
}

.bnsSearch_greyBtn {
	width: 93px;
	height: 27px;
	line-height: 27px;
	background: #484F63;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#484F63), to(#333745));
	background: -moz-linear-gradient(left top, left bottom, from(#484F63), to(#333745));
	background: -ms-linear-gradient(left top, left bottom, from(#484F63), to(#333745));
	background: -moz-linear-gradient(left top, left bottom, from(#484F63), to(#333745));
	background: linear-gradient(left top, left bottom, from(#484F63), to(#333745));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}

.bnsSearch_greyBtn:hover {
	background: #3d4354;
	color: #f2f2f2
}

.bnsSearch_greyBtn:active {
	background: #282c37;
	color: #ebebeb;
	outline: none;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left top, left bottom, from(#484F63), to(#3d4354));
	background: -moz-linear-gradient(left top, left bottom, from(#484F63), to(#3d4354));
	background: -ms-linear-gradient(left top, left bottom, from(#484F63), to(#3d4354));
	background: -moz-linear-gradient(left top, left bottom, from(#484F63), to(#3d4354));
	background: linear-gradient(left top, left bottom, from(#484F63), to(#3d4354));
	-webkit-transform: translate(-1px, 1px);
	-moz-transform: translate(-1px, 1px);
	-ms-transform: translate(-1px, 1px);
	transform: translate(-1px, 1px)
}

.bnsSearch_greyBtn:disabled {
	background: #C0C0C4;
	color: #EFEFEF
}

.Mui_defaultPage {
	width: 300px;
	margin: 20px auto
}

.Mui_defaultPage ul,
.page1 ul {
	margin: 0;
	padding: 0
}

.Mui_defaultPage ul li {
	list-style-type: none;
	float: left;
	margin: 0 8px;
	width: 25px;
	height: 25px
}

.page-checked {
	background: #66c7ff;
	color: #fff;
	border: 0px
}

.page-checked1 {
	background: #fff;
	color: #787878;
	border: 1px solid #ccc
}

.Mui_defaultPage ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 24px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.Mui_defaultPage .pre,
.Mui_defaultPage .next {
	width: 20px;
	height: 20px;
	margin-top: 3px
}

.Mui_defaultPage .pre a,
.Mui_defaultPage .next a {
	line-height: 18px
}

.Mui_defaultPage:after,
.Mui_defaultPage:before {
	content: "";
	display: table;
	clear: both
}

.Mui_defaultPage ul li a:hover {
	background: #66c7ff;
	color: #fff;
	border: 0px
}

.page-unchecked {
	background: #fff;
	color: #787878;
	border: 1px solid #cacaca
}

.mar-l {
	margin-left: 10px;
	width: 50px !important;
	line-height: 30px
}

input {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 0
}

.page_qi li a:hover {
	background: #ddd;
	border: 1px solid #cccccc;
	color: #000
}

.page_qi>li>a {
	border: 1px solid #cccccc
}

.page_qi li input {
	width: 50px;
	height: 35px;
	outline: none
}

.page_qi .page_tiao {
	line-height: 35px;
	padding-left: 20px
}

.page_qi .page_sheng {
	width: 45px;
	line-height: 25px;
	padding-left: 10px
}

.page_l {
	background: url(../paging/img/page_l.png) no-repeat !important;
	background-position-y: 2px !important
}

.page_r {
	background: url(../paging/img/page_r.png) no-repeat !important;
	background-position-y: 2px !important
}

.page_left a:hover {
	background: url(../paging/img/page_left.png) no-repeat !important;
	background-position-y: 2px !important
}

.page_right a:hover {
	background: url(../paging/img/page_next.png) no-repeat !important;
	background-position-y: 2px !important
}

.Mui_mostPage {
	margin: 10px auto
}

.Mui_mostPage ul {
	float: left;
	margin: 0px;
	padding: 0px
}

.Mui_mostPage ul li a:hover {
	background: #ddd
}

.Mui_mostPage ul .active {
	background: #ddd
}

.Mui_mostPage .text_page {
	margin: 10px
}

.Mui_mostPage .go_page {
	float: left;
	width: 115px
}

.Mui_mostPage .go_page .input-group-btn {
	border: 1px solid #ddd
}

.Mui_mostPage .go_page .input-group-btn .btn-default {
	height: 34px
}

.Mui_page {
	text-align: center;
	font-size: 12px;
	font-family: "微软雅黑"
}

.Mui_page a {
	text-decoration: none;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0px 5px;
	outline: none
}

.Mui_page .page-checked,
.Mui_page a:hover {
	background: url(../img/page.png) 65px 0px;
	color: #fff
}

.Mui_page .pre,
.Mui_page .next {
	width: 18px;
	height: 18px;
	line-height: 18px;
	vertical-align: middle
}

.Mui_page a[class^='pre'] {
	background: url(../img/page.png) -40px -5px
}

.Mui_page a[class^='next'] {
	background: url(../img/page.png) 0px -32px
}

.Mui_page a[class^='pre']:hover,
.Mui_page .pre-checked {
	background: url(../img/page.png) 0px -5px
}

.Mui_page a[class^='next']:hover,
.Mui_page .next-checked {
	background: url(../img/page.png) -40px -32px
}

.Mui_page .page-unchecked {
	background: url(../img/page.png) 25px 0px;
	color: #9f9f9f
}

.Mui_page span {
	display: inline-block;
	min-width: 120px
}

.Mui_page span label {
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: 0px 5px
}

.Mui_page input {
	width: 100%;
	height: 100%;
	line-height: 25px\0\9;
	text-align: center;
	border: 1px solid #afafaf;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	outline: none
}

.breadcrumb>li+li:before {
	color: #5d646a;
	content: "> ";
	padding: 0 10px
}

.crumbs .bread_crumb {
	background: none;
	margin-bottom: 0px
}

.crumbs .breadcrumb img {
	margin-top: -3px;
	margin-right: 3px
}

.Nav_enu {
	height: 50px;
	line-height: 50px
}

.Nav_enu img {
	vertical-align: middle
}

.Nav_enu a {
	display: inline-block;
	text-decoration: none;
	margin: 0 3px;
	color: #000;
	vertical-align: middle
}

.createTitle {
	border: 1px solid #e8e8e8;
	line-height: 30px;
	background: #f6f6f6
}

.createTitle img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	margin-right: 5px
}

.createTitle span {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	padding-left: 15px;
	font-weight: 600;
	border-left: 1px solid #dcdcdc
}

.file {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 100px;
	opacity: 0
}

.upload_text {
	height: 35px;
	border: 0px
}

.upload_marl {
	margin-left: 3px;
	margin-right: 3px
}


/*# sourceMappingURL=mui.css.map */