<!DOCTYPE html>
<html>

	<head>
		<!-- 3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>layout</title>
		<link rel="stylesheet" type="text/css" href="//g.369cloud.com/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.css" />
		<!--[if lt IE 9]>
		   <script src="//g.369cloud.com/bootstrap/js/createTag.js"></script>
		   <script src="//g.369cloud.com/bootstrap/js/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		<!--
        	作者： 
        	时间：2015-12-08
        	描述：布局二
        -->
		<div class="dt_main">
			<div class="dt_left">

			</div>
			<div class="dt_center">
				 
			</div>
			<div class="dt_right">
				 
			</div>
		</div>
	</body> 
</html>